@charset "utf-8";

$primary: #0075A2;
$navbar-background-color: $primary !important;
$navbar-item-color: #FFFFFF;
$navbar-item-hover-background-color: hsla(0, 0%, 98%, 0.2);
$navbar-item-hover-color: #FFFFFF;

a {
    transition: all ease-in-out 0.3s;
}

.navbar {
    height: 8vh;
    
        
    img.logo {
        height: 60px;
        width: 60px;
    }
}

.hero-body {
    padding: 0 !important;
}

@media screen
and (min-width: 1080px) {

    .columns {
        width: 100vw;
        height: 92vh;
    
        .column {
            padding: 0;
        }
    }
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen
and (max-width: 1024px) {
    html body {
        overflow: hidden;
    }

    .columns {
        flex-direction: column;
        // height: unset;
        // .column {
        //     padding: unset;
        // }

        iframe {
            width: 100vw;
        }

        .column {
            height: calc((100vh - 8vh)/2);
            padding: 0 12px;
        }
    }
}


@import "../node_modules/bulma/bulma.sass";